{% extends 'layout.html' %}

{% block content %}
    {% from '_macros.html' import render_flash %}
    <div class="container content-section">
        {{ render_flash() }}

         <h3>The Command</h3>

    <img class="w-100 rounded image" src="{{ url_for('static', filename='images/kalahari.png') }}">

    <h3>The Vision</h3>
    <p>To establish a group of at least 1,000 people to pray for Namibia. The 1,000 will do the following.
        <ul>
        <li>They will stand in the gap for Namibia<br>
            <blockquote>I looked for someone among them who would build up
            the wall and stand before me in the gap on behalf of the land so I would not have to destroy it,
            but I found no one.<footer class="blockquote-footer">Ezekiel 22:30</footer></blockquote>
            <blockquote>So he said he would destroy them-- had not Moses, his chosen one, stood in the breach before
                him to keep his wrath from destroying them.
                <footer class="blockquote-footer">Psalms 106:23</footer></blockquote>
        </li>
        <li>They will pray God's will for Namibia<br>
            <blockquote>This is the confidence we have in approaching God: that if we ask anything according to his
                will, he hears us. And if we know that he hears us--whatever we ask--we know that we have what we asked
                of him.<footer class="blockquote-footer">1 John 5:15</footer>
            </blockquote>
        </li>
        <li>They will pray in agreement<br>
            <blockquote>And if we know that he hears us--whatever we ask--we know that we have what we asked of him.
                For where two or three gather in my name, there am I with them.
                <footer class="blockquote-footer">Matthew 18:19 - 20</footer>
            </blockquote>
        </li>
        </ul>

    <h3>The Mission</h3>
        <p>From the command God gave, the following mission was derived. The mission is...</p>
    <ul>
        <li>To invite called individuals into the prayer network with the aim to achieve or exceed the target of
            1,000 praying members.</li>
        <li>To structure the prayer network in groups of
            <a href="#" data-toggle="popover" data-trigger="hover" title="Why twelve?"
           data-content="Soon after the Lord gave the initial command, he also sent a special messenger
            who informed the brother that the network had to be structure in groups of twelve. Please follow the
            link to find some more information on the spiritual significance of the number twelve.">twelve</a>

            as the Lord instructed.</li>
        <li>To help focus the prayers in the network on subject matters that the Holy Spirit will give by sending out
            regular communication.</li>
    </ul>
    <h3>The Background</h3>
    <p class="mt-2">In April 2019, a
        <a href="#" data-toggle="popover" data-trigger="hover" title="Anonymity"
           data-content="The name of this brother is deliberately omitted as he wishes to remain anonymous. It is our
           wish that this prayer initiative only be associated with YHWH and not anyone else.">brother</a>
        was moved to pray earnestly for Namibia. He was grieved about the sin, moral decay, perversion and lawlessness
        of the Namibian nation in both secular and religious life. He asked the Lord, "How can this nation be saved?"
        The very next morning God instructed him to get 1,000 people to pray for Namibia. This command was confirmed by
        a second person, who received same instruction. And when he shared this instruction with other allies in
        the Kingdom, everyone agreed that this command is from God.</p>

    <p>The brother shared this command with a few others and together they started to pray for guidance and wisdom
        on how to execute this command. As he shared this message with other believers, many immediately joined the
        effort to help raise the 1,000 and pray for the country. In February 2020 there were over 250 people who
        committed to pray. God encouraged the team not to be worried or fearful of how the target of 1,000 will be
        reached. He promised that he will add the people that are needed.</p>

    <p>The initial group started to pray as soon as the command became clear. They felt it was prudent not to wait
    until the group of 1,000 is complete, but to start immediately. In Windhoek, many of those who pray, come together
        at the Moedergemeente Church from 05:00 - 06:00 on Friday
        mornings. The church is located on the corner of Luderitz Street and Daniel Manumava Street
        <a href="https://goo.gl/maps/HhiJXhNmi41Ryh8LA"><i class="fas fa-map-marker-alt"></i></a>, close to the
        Telecom Namibia Head Office. Other prayer hubs are being formed across the city and in various towns in the country.
    </p>
    <p>A communication system has been set up to distribute prayer subjects to everyone that is part of the prayer
        movement. God warned the group not to pray according to human wisdom and perceptions, but only according to
        his Word (the Bible), and according to the guidance of his Holy Spirit.</p>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock scripts %}