{% extends '_messages_base.html' %}

{% block messages %}
    <div class="container content-section col-md-6 col-sm-12">
    {% from "_macros.html" import render_field, render_submit_field, render_checkbox_field, render_textarea_field %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {% if message_type == 0 %}
            {{ render_checkbox_field(form.is_urgent) }}
        {% endif %}
        {{ render_field(form.subject) }}
        {{ render_field(form.content) }}
        {{ render_submit_field(form.submit) }}
    </form>
    </div>
{% endblock messages %}

{% block scripts %}
    <script src="{{ url_for('static', filename="js/ckeditor/ckeditor.js") }}"></script>
    <script>
        CKEDITOR.replace('content');
    </script>
{% endblock scripts %}