<div>
    <p>Dear {{ user.first_name }}, we are so excited to have you as part of the network.</p>
    <p>These are troubled times. Not only in Namibia, but all over the world. But the light of Christ is still
     shining in this world and the darkness will not overcome it. (<strong>John 1:5</strong>)</p>
    <p>If you live in Windhoek, please join us for prayer from 05:00 to 06:00 every Friday morning as we seek God's
    face. We get together at the Dutch Reformed Church close to the center of town just off Robert Mugabe avenue in
    Daniel Manumava Street <a href="https://goo.gl/maps/HhiJXhNmi41Ryh8LA"><i class="fas fa-map-marker-alt"></i></a>.
    It is situated in between the National Theater of Namibia and the Telecom Namibia Head
    Office across the road from the old presidential home.</p>
    <img class="img-fluid mb-3 rounded" src="{{ church_image }}">
    <p>Feel free to explore the website. You will not be break anything (we hope). If something strange does happen,
        please notify us at <a href="mailto:pray.namibia.1000@gmail.com">here</a>.</p>
    <p>Click <a href="{{ url_for('messages.view_messages') }}">here</a> to see what has been happening.</p>
</div>
