{% extends '_user_base.html' %}

{% from '_macros.html' import render_field, render_submit_field, render_checkbox_field %}

{% block userform %}
    <div class="col-md-8 col-xs-12 m-auto content-section">
    {% if form.reactivate_account %}
        <h4 class="mb-2">Reactivate account and request password reset</h4>
    {% else %}
        <h4 class="mb-2">Request password reset</h4>
    {% endif %}
    <form id="register" method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-12">
        {% if form.reactivate_account %}
            {{ render_checkbox_field(form.reactivate_account) }}
        {% endif %}
        </div>
        {{ render_field(form.login, tabindex=10,
                        class_="col-12",
                        note="International phone number format: +264811234567") }}
    </div>
        {{ render_submit_field(form.submit, tabindex=100) }}
    </form>
    </div>
{% endblock userform %}