{% extends '_user_base.html' %}

{% from '_macros.html' import render_field, render_submit_field %}

{% block userform %}
    <div class="col-md-8 col-xs-12 m-auto content-section">
    <h4>Send an invitation</h4>
    <form id="register" method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="row">
        {{ render_field(form.first_name, tabindex=20, class_="col-12") }}
        {{ render_field(form.last_name, tabindex=30, class_="col-12") }}
        {{ render_field(form.login, tabindex=40,
                        class_="col-12",
                        note="International phone number format: +264811234567") }}
        {{ render_field(form.password, tabindex=50, class_="col-12") }}
    </div>
        {{ render_submit_field(form.submit, tabindex=100) }}
    </form>
    </div>
{% endblock userform %}