{% extends '_user_base.html' %}

{% from '_macros.html' import render_field, render_submit_field, render_checkbox_field , render_flash%}

{% block userform %}
    <div class="col-md-8 col-xs-12 m-auto content-section">
        <h4>Reset password</h4>
        <form id="register" method="POST" action="">
        {{ form.hidden_tag() }}
            {{ render_field(form.password, class_="col-12", tabindex=30) }}
            {{ render_field(form.password_confirm, class_="col-12", tabindex=40) }}
            {{ render_submit_field(form.submit, tabindex=100) }}
        </form>
    </div>
{% endblock userform %}